@charset "utf-8";
/* CSS Document */

/** {
	padding:0;
	margin:0;
	border:0;
}*/

body {
	background:#E6F0EB;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
}

h1 {
	font-size:1.2em;
	margin-bottom:10px;
}

p {
	margin:10px 0;
}